.scrollable_content {
  width: 100%;
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 7.5rem);
  padding: 1.2rem;

  .status {
    display: flex;
    justify-content: flex-start;
    margin: .62rem 0 0;
    gap: 25px;
    cursor: pointer;
    position: relative;

    & p {
      font-family: Onest;
      font-size: 1rem;
      font-weight: 500;
    }
  }
}

.status::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background-color: #e3e3e3;
}

.content {
  margin: 1.2rem 0;

  .child_section {
    display: flex;
  
    justify-content: space-between;
    margin-top: 1.2rem;

    .info {
      padding-top: .62rem;

      & h6 {
        color: #353636;
        font-family: Onest;
        font-size: 0.87rem;
        font-weight: 600;
      }

      & span {
        white-space: nowrap;
        color: #898989;
        font-family: Inter;
        font-size: 0.8rem;
        font-weight: 500;
      }

      & p {
        padding-top: 0.31rem;
        color: #000;
        font-family: Onest;
        font-size: 0.9rem;
        font-weight: 500;
      }
    }

    .status_div {
      display: flex;
      height: 1.62rem;
      padding: 0.31rem;
      width: 5rem;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background: #fff8ec;
      color: #fbb540;
      font-family: Onest;
      font-size: 0.7rem;
      font-weight: 500;
    }

    .status_completed {
      display: flex;
      height: 1.6rem;
      padding: 0.31rem;
      width: 5rem;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background: #e1fff0;
      color: #149856;
      font-family: Onest;
      font-size: 0.7rem;
      font-weight: 500;
    }

    .status_cancelled {
      display: flex;
      height: 1.6rem;
      padding: 0.31rem;
      width: 5rem;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background: #ffefef;
      color: #b90000;
      font-family: Onest;
      font-size: 0.7rem;
      font-weight: 500;
    }

    .star_secx {
      display: flex;
      gap: 5px;
      margin-top: 2.5rem;
      height: auto;

      .star {
        width: 0.93rem;
        height: 0.93rem;
      }

      & span {
        white-space: nowrap;
        text-align: right;
        font-family: Onest;
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
  }
}
