.head_section {
  margin: 20px 10px;

  & h6 {
    padding: 10px;
    color: #000;
    text-align: start;
    font-family: Onest;
    font-size: 1.1rem;
    font-weight: 500;
  }
}

.user_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;

  .user_icon {
    width: 50px;
    height: 50px;
    display: flex;
    background: #d9d9d9;
    align-items: center;
    border-radius: 50%;
    color: #c2c2c2;
    font-size: 1.5rem;
    justify-content: center;
  }

  & h6 {
    color: #000;
    font-family: Onest;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 0 5px 0;
    margin: 0;
  }

  & p {
    color: #898989;
    font-family: Onest;
    font-size: 0.9rem;
    font-weight: 400;
  }

  & img {
    margin-top: 5px;
    width: 40px;
    height: 40px;
  }
}

.main_hero_section {
  margin: 30px 0 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;

  .cards {
    display: flex;
    width: 45%;
    height: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #d61c4e;

    & p {
      margin: 0;
      color: #d61c4e;
      font-family: Onest;
      font-size: 1rem;
      font-weight: 300;
    }

    & span {
      color: #d61c4e;
      font-family: Onest;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
}

.bottom_section {
  display: flex;
  margin: 20px 10px 0;
  justify-content: flex-start;
  flex-direction: column;

  & h6 {
    font-family: Onest;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 0;
  }

  .section {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    position: relative;

    & p {
      color: #000;
      font-family: Onest;
      font-size: .8rem;
      font-weight: 500;
    }
  }

  .icon {
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 10px;
  }
}

.bottom_section_end {
  margin: 80px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  & p {
    color: #777;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
  }

  & button {
    margin: 0 auto;
    width: 95%;
    height: 40px;
    color: #d61c4e;
    font-family: Onest;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: #FFF6F6;
  }
}
