.head_section {
  margin: 1.56rem 0 0;
  padding: .62rem 1.2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;

  & h6 {
    font-family: Onest;
    font-size: 1.1rem;
    font-weight: 500;
  }

  & p {
    color: #d61c4e;
    font-family: Onest;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

/* ---------scrollable_section---------- */

.scrollable_content {
  width: 100%;
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 7.5rem);
  padding: 1.2rem .62rem;

  .status {
    display: flex;
    justify-content: flex-start;
    margin: .62rem 0 0;
    gap: 1.56rem;
    cursor: pointer;
    position: relative;

    & p {
      font-family: Onest;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .main_section {
    margin: 1.8rem 0;
  }

  .notify_sec {
    margin: 1.56rem 0;
    display: flex;
    gap: 15px;

    & img {
      width: 2.5rem;
      height: 2.5rem;
    }

    & p {
      font-family: Onest;
      font-size: 0.87rem;
      font-weight: 500;
      margin: 0;
    }

    & span {
      color: #9d9d9d;
      font-family: Onest;
      font-size: 0.87rem;
      font-weight: 400;
    }
  }

  .empty_section {
    display: flex;
    height: 60vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & p {
      text-align: center;
      font-family: Onest;
      font-size: 0.97rem;
      font-weight: 500;
    }

    & img {
      width: 6.3rem;
      height: 6.5rem;
    }
  }
}

.status::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  margin: 0 auto;
  height: 2px;
  background-color: #d9d9d9;
}
