.scrollable_content {
  width: 100%;
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 7.5rem);
  padding: 1.2rem;

  .card_section {
    display: flex;
    gap: 20px;
    position: relative;

    & img {
      width: auto;
      height: auto;
    }

    & h6 {
      padding-top: 0.31rem;
      color: #000;
      font-family: Onest;
      font-size: 0.85rem;
      font-weight: 500;
    }

    & p {
      color: #000;
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 500;
    }

    & span {
      color: #b2b2b2;
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 500;
      text-decoration: line-through;
    }

    .offer {
      display: flex;
      width: 3.06rem;
      height: 1.31;
      padding: 0.37rem 0.87rem;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 6px;
      background: #d1ffc7;
      color: #55b440;
      font-family: Onest;
      font-size: 0.7rem;
      font-weight: 500;
    }

    .star_secx {
      position: absolute;
      right: 0;
      top: 60%;
    }
  }

  .product_section {
    padding-top: 0.31rem;

    & h6 {
      font-family: Onest;
      font-size: 1rem;
      font-weight: 500;
      padding-bottom: .62rem;
    }

    & select {
      height: 3.1rem;
    }

    & label {
      font-family: Onest;
      font-size: 1rem;
      font-weight: 500;
      padding: 1.2rem 0 0.62rem;
    }
  }

  button {
    position: fixed; 
    bottom: 1.2rem;
    left: 1.2rem;
    margin: 0;
    display: flex;
    width: 90%;
    padding: 0.62rem;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    color: #fff;
    border: none;
    height: 3.1rem;
    background: #d61c4e;
  }
  
}
