

.main_section {
  width: 96%;
  margin: 2.5rem auto 0;

  & h6 {
    color: #000;
    font-family: Onest;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .checked {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 70vh;

    & h6 {
      margin: 0;
      color: #000;
      font-family: Onest;
      font-size: 1.1rem;
      font-weight: 600;
    }

    & span {
      color: #898989;
      font-family: Onest;
      font-size: 0.9rem;
      font-weight: 400;
    }
  }

  .img_sec {
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 50%;
    background: #d61c4e;
  }

  .btn_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    & button {
      margin: 0;
      display: flex;
      width: 95%;
      height: 2.8rem;
      justify-content: center;
      align-items: center;
      gap: 9px;
      border-radius: 9px;
      background: #d61c4e;
      color: #fff;
      font-family: Onest;
      font-size: 0.9rem;
      font-weight: 600;
      border: none;
    }

    & a {
      color: #000;
      text-decoration: none;
      font-family: Onest;
      font-size: 0.97rem;
      font-weight: 400;
    }
  }
}
