.main_section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

  & h6 {
    color: #353535;
    text-align: center;
    font-family: Onest;
    font-weight: 600;
    font-size: 1.5rem;
  }
}
