.main_section {
  margin: 1.8rem 1.2rem;


  & h6 {
    font-family: Onest;
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 1.2rem;
  }

  .input_section {
    margin: .6rem 0;
    padding: .9rem;
    height: 3.1rem;
    border-radius: 9px;
    border: 1px solid #d9d9d9;
    background: #fff;
    position: relative;

    & p {
      margin: 0;
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 500;
    }

    .icon_right {
      position: absolute;
      top: .9rem;
      right: 0.3rem;
      color: #d61c4e;
    }
  }

  .bottom_section {
    margin-top: 17.5rem;


    & span {
      cursor: pointer;
      color: #1877f2;
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 400;
      text-decoration-line: underline;
    }

    & p {
      color: #000;
      text-align: center;
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 400;
    }
  }
}
