
/* -------footer-section------- */

.fixed_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer_bottom {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  gap: 5px;

  & p {
    color: #706e6e;
    text-align: center;
    font-family: Inter;
    font-size: 0.6rem;
    font-weight: 400;
  }

  & img {
    width: 20px;
  }
}
.active img {
  filter: brightness(0) saturate(100%) invert(29%) sepia(86%) saturate(5862%) hue-rotate(330deg) brightness(88%) contrast(110%);
}

.active p {
  color: #ff6600;
}

