.scrollable_content {
  width: 100%;
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 7.5rem);
  padding: 1.2rem;
  margin-top: 1.2rem;

  .buttonGroup {
    display: flex;
    gap: 10px;
    margin-top: 0.62rem;
  }

  .addressButton {
    font-family: Onest;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.62rem 1.2rem;
    border-radius: 0.62rem;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
  }

  .addressButton.selected {
    border-radius: 5px;
    border: 1px solid #d61c4e;
    background-color: #f7f7f7;
  }

  .form_section {
    margin: 1.2rem 0;

    & input {
      height: 2.8rem;
      width: 100%;
      padding: 0.62rem;
    }

    & button {
      margin: 1.8rem 0 0;
      display: flex;
      width: 100%;
      padding: 0.62rem;
      justify-content: center;
      align-items: center;
      border-radius: 9px;
      color: #fff;
      border: none;
      height: 3.1rem;
      background: #d61c4e;
    }
  }
}
