.scrollable_content {
  width: 100%;
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 7.5rem);
  padding: 1.2rem;

  .card_section {
    display: flex;
    gap: 1.2rem;
    position: relative;

    & img {
      width: auto;
    }

    & h6 {
      padding-top: 0.31rem;
      font-family: Onest;
      font-size: 0.85rem;
      font-weight: 500;
    }

    & p {
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 500;
    }

    & span {
      color: #b2b2b2;
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 500;
      text-decoration: line-through;
    }

    .offer {
      display: flex;
      width: 3rem;
      height: 1.31rem;
      padding: 0.37rem 0.87rem;
      justify-content: center;
      align-items: center;
      gap: 0.62rem;
      border-radius: 0.37rem;
      background: #d1ffc7;
      color: #55b440;
      font-family: Onest;
      font-size: 0.7rem;
      font-weight: 500;
    }

    .star_secx {
      position: absolute;
      right: 0.43rem;
      top: 3.7rem;
    }
  }

  .input_section {
    margin: 1.56rem 0;
    padding: 0.9rem;
    height: 3.1rem;
    border-radius: 9px;
    border: 1px solid #d9d9d9;
    background: #fff;
    position: relative;

    & p {
      margin: 0;
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 500;
    }

    .icon_right {
      position: absolute;
      top: .97rem;
      right: 0.31rem;
      color: #d61c4e;
    }
  }
}

.section h6 {
  margin: 0;
  font-family: Onest;
  font-size: 0.97rem;
  font-weight: 500;
}

.main_card {
  margin-top: 1.2rem;

  .card {
    display: flex;
    justify-content: space-between;
  }

  & h1 {
    padding: 0.62rem;
    font-family: Onest;
    font-size: 1rem;
    font-weight: 500;
  }

  .card_section_2 {
    & h6 {
      padding-top: 0.62rem;

      font-family: Onest;
      font-size: 0.85rem;
      font-weight: 500;
    }

    & p {
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 500;
    }

    & span {
      color: #b2b2b2;
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 500;
      text-decoration: line-through;
    }

    .offer {
      display: flex;
      width: 3rem;
      height: 1.3rem;
      padding: 0.37rem 0.87rem;
      justify-content: center;
      align-items: center;
      gap: 0.62rem;
      border-radius: 0.37rem;
      background: #d1ffc7;
      color: #55b440;
      font-family: Onest;
      font-size: 0.7rem;
      font-weight: 500;
    }
  }

  .rating_section_2 {
    position: relative;
    width: 4.87rem;
    bottom: 7.7rem;
    left: 0.62rem;
    display: flex;
    padding: 0.43rem 0.5rem;
    align-items: center;
    gap: 3px;
    border-radius: 0.43rem;
    background: #fff;

    & p {
      margin: 0;
      color: #000;
      font-size: 0.7rem;
      font-family: Onest;
      font-weight: 400;
    }

    & span {
      color: #898989;
      font-family: Onest;
      font-size: 0.7rem;
      font-weight: 400;
    }
  }

  .card_section_3 {
    position: relative;

    & h6 {
      padding-top: 0.62rem;
      color: #000;
      font-family: Onest;
      font-size: 0.85rem;
      font-weight: 500;
    }

    & p {
      color: #000;
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 500;
    }

    & span {
      color: #b2b2b2;
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 500;
      text-decoration: line-through;
    }

    .offer {
      display: flex;
      width: 3rem;
      height: 1.3rem;
      padding: 0.37rem 0.87rem;
      justify-content: center;
      align-items: center;
      gap: 0.62rem;
      border-radius: 0.37rem;
      background: #d1ffc7;
      color: #55b440;
      font-family: Onest;
      font-size: 0.7rem;
      font-weight: 500;
    }
  }

  .rating_section_4 {
    position: absolute;
    width: 4.87rem;
    bottom: -5rem;
    left: 1.7rem;
    display: flex;
    padding: 0.43rem 0.5rem;
    align-items: center;
    gap: 3px;
    border-radius: 7px;
    background: #fff;

    & p {
      margin: 0;
      color: #000;
      font-size: 0.7rem;
      font-family: Onest;
      font-weight: 400;
    }
  }
}
