.scrollable_content {
  width: 100%;
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 120px);
  padding: 20px;

  .card_section {
    display: flex;
    gap: 20px;
    position: relative;

    & img {
      width: auto;
    }

    & h6 {
      padding-top: 5px;
      color: #000;
      font-family: Onest;
      font-size: 0.85rem;
      font-weight: 500;
    }

    & p {
      color: #000;
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 500;
    }

    & span {
      color: #b2b2b2;
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 500;
      text-decoration: line-through;
    }

    .offer {
      display: flex;
      width: 49px;
      height: 21px;
      padding: 6px 14px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 6px;
      background: #d1ffc7;
      color: #55b440;
      font-family: Onest;
      font-size: 0.7rem;
      font-weight: 500;
    }

    .star_secx {
      position: absolute;
      right: 0;
      top: 60%;
    }
  }

  .input_section {
    margin: 25px 0;
    padding: 15px;
    height: 50px;
    border-radius: 9px;
    border: 1px solid #d9d9d9;
    background: #fff;
    position: relative;

    & p {
      margin: 0;
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 500;
    }

    .icon_right {
      position: absolute;
      top: 15px;
      right: 5px;
      color: #d61c4e;
    }
  }
}

.section h6 {
  margin: 0;
  color: #000;
  font-family: Onest;
  font-size: 0.97rem;
  font-weight: 500;
}

.main_card {
  margin-top: 20px;

  .card {
    display: flex;
    justify-content: space-between;
  }

  & h1 {
    padding: 10px;
    color: #000;
    font-family: Onest;
    font-size: 1rem;
    font-weight: 500;
  }

  .card_section_2 {
    & h6 {
      padding-top: 10px;
      color: #000;
      font-family: Onest;
      font-size: 0.85rem;
      font-weight: 500;
    }

    & p {
      color: #000;
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 500;
    }

    & span {
      color: #b2b2b2;
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 500;
      text-decoration: line-through;
    }

    .offer {
      display: flex;
      width: 49px;
      height: 21px;
      padding: 6px 14px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 6px;
      background: #d1ffc7;
      color: #55b440;
      font-family: Onest;
      font-size: 0.7rem;
      font-weight: 500;
    }
  }

  .rating_section_2 {
    position: relative;
    width: 78px;
    bottom: 43%;
    left: 5%;
    display: flex;
    padding: 7px 8px;
    align-items: center;
    gap: 3px;
    border-radius: 7px;
    background: #fff;

    & p {
      margin: 0;
      color: #000;
      font-size: 0.7rem;
      font-family: Onest;
      font-weight: 400;
    }

    & span {
      color: #898989;
      font-family: Onest;
      font-size: 0.7rem;
      font-weight: 400;
    }
  }

  .card_section_3 {
    position: relative;

    & h6 {
      padding-top: 10px;
      color: #000;
      font-family: Onest;
      font-size: 0.85rem;
      font-weight: 500;
    }

    & p {
      color: #000;
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 500;
    }

    & span {
      color: #b2b2b2;
      font-family: Onest;
      font-size: 0.8rem;
      font-weight: 500;
      text-decoration: line-through;
    }

    .offer {
      display: flex;
      width: 49px;
      height: 21px;
      padding: 6px 14px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 6px;
      background: #d1ffc7;
      color: #55b440;
      font-family: Onest;
      font-size: 0.7rem;
      font-weight: 500;
    }
  }

  .rating_section_4 {
    position: absolute;
    width: 78px;
    bottom: -80px;
    left: 28px;
    display: flex;
    padding: 7px 8px;
    align-items: center;
    gap: 3px;
    border-radius: 7px;
    background: #fff;

    & p {
      margin: 0;
      color: #000;
      font-size: 0.7rem;
      font-family: Onest;
      font-weight: 400;
    }
  }
}
